ion-content{
    --background:url(../../assets/icon/icon_globe.png) no-repeat center center /cover;
}

ion-content > h1 {
    font-size: 38px;
    margin: 0 auto;
    position: relative;
    top: 45%;
    left: 22%;
    right: 25%;
    color: blue($color: #000000);
}